<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive taps-top">
	<ion-tab title="Retour" icon-off="ion-reply" icon-on="ion-reply" ng-click="goBack()" disabled="disabledBack()">
    	
  	</ion-tab>
  	<ion-tab title="Localisation" icon-off="ion-ios-location" icon-on="ion-ios-location-outline" ui-sref="favory.localisation" nav-direction="enter">
    	<ion-nav-view name="favory-localisation"></ion-nav-view>
  	</ion-tab>

  	<ion-tab title="Calendrier" icon-off="ion-ios-calendar" icon-on="ion-ios-calendar-outline" ui-sref="favory.event">
    	<ion-nav-view name="favory-event"></ion-nav-view>
  	</ion-tab>
</ion-tabs>
